body {
    display: block;
    min-height: 1100px;
    margin: 5px;
    background-image: url(img/eg-bg.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    font-family: Montserrat;
    width: 100%;
    height: auto;
}

.nav-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    margin-top: 30px;
    /* background-color: rgba(255, 255, 255, 0.6); */
    padding: 18px ;
    text-decoration: none;
}

.logo {
    font-size: 50px;
    font-family: Cookie;
}

.wor {
    font-size: 10px;
}

a:link {
    text-decoration: none ; 
}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.topic {
  color: white;
  font-family: Oregano;
}

.place {
  font-size: 190px;
  color: white;
  margin-top: -80px;
  font-family: Oregano;
}

span {
  font-size: 50px;
  vertical-align: baseline;
}

.con-top {
  font-size: 60px;
  margin-bottom: -5px;
  font-weight: 600;
}

.history {
  width: 700px;
  margin-left: 40px;
  background-color: rgba(78, 58, 6, 0.342);
  padding: 20px;
  color: white;
  margin-bottom: 60px;
}

.culture-ou {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.culture {
  width: 600px;
  margin-left: 40px;
  background-color: rgba(78, 58, 6, 0.342);
  padding: 20px;
  color: white;
  margin-bottom: 60px;
}

.con-top-IGA {
  font-size: 28px;
  margin-bottom: -1px;
}


@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media only screen and (max-width: 600px) {

}