fieldset {
    background-color: rgb(212, 255, 94);
    border: 1px solid #767676 !important; /* 線條顏色（可依喜好調整） */
    padding: 20px 20px !important;   /* 內聚，讓裡面的表單不會太擠 */
    border-radius: 10px !important;        /* 微幅的圓角 */
    width: 400px !important;
    height: 500px;
    text-align: center !important;
    overflow: hidden; 
    padding: 60px;
}



.form-personal {
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: center;
    text-align: center;
}

#SayST {
    display: flex;
    flex-direction: column;
}

.goomap {
    background-color: azure;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topic10 {
    display: flex;
    justify-content: center;
    
}

.con-logo {
    position: absolute;
    top: 15px;    /* 距離圖片頂部 15px */
    right: 15px;  /* 距離圖片右側 15px */
}

.formcon {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    padding: 30px;
}

.f-img {
    background-color: white;
    width: 295px;
    padding: 10px;
}